body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-secondary {
  color: #2e2f42;
}
/* navigation */
.list-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.menu-link {
  color: #2e2f42;
}
.link:hover,
.addres-link:hover {
  color: #404bbf;
}
.link:focus,
.addres-link:focus {
  color: #404bbf;
}
/* addres */
.addres-list {
  font-style: normal;
}
.addres-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
